
@using WhoLends.ViewModels;
@using MvcJqGrid

@model LendViewModel

@{
    ViewBag.Title = "Lends";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Gegenstand ausleihen</h3>
                <p>
                    Einen neuen Gegenstand ausleihen
                </p>
                <p>
                    <a class="btn btn-default">
                        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                        @Html.ActionLink("erfassen", "Create") &raquo;
                    </a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Ausleihgegenstand</h3>
                <p>
                    Einen neuen Gegenstand zum Ausleihen
                </p>
                <p>
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    @Html.ActionLink("erfassen", "../LendItems/Create") &raquo;
               </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h3>Web Hosting</h3>
                <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
                <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>
<br />
<h3>Ausgeliehene Gegenstände</h3>

<div>
    @(Html.Grid("LendList")
    .AddColumn(new Column("Id")
        .SetWidth(40))
    .AddColumn(new Column("Ausleiher"))
    .AddColumn(new Column("von"))
    .AddColumn(new Column("bis"))
    .AddColumn(new Column("Gegenstand Name"))
    .AddColumn(new Column("interne ID"))
    .AddColumn(new Column("Erstellt am")
         .SetWidth(80))
    .AddColumn(new Column("Erstellt von")
        .SetWidth(80))
    .SetUrl("/Lends/List")
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new int[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager"))
</div>
