@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>FAQ - Häufig gestellte Fragen</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1">Wie erfasse ich einen neuen Gegenstand den ich zum Verleih anbieten möchte?</a>
        <a class="pull-right" data-toggle="collapse" data-target="#collapse1">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </a>        
    </div>
    <div id="collapse1" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
   </div>
 </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2">Wie leihe ich einen Gegenstand aus?</a>
        <a class="pull-right" data-toggle="collapse" data-target="#collapse2">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </a>        
    </div>
    <div id="collapse2" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3">Wie erfasse ich einen zurück gegebenen Gegenstand?</a>
        <a class="pull-right" data-toggle="collapse" data-target="#collapse3">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </a>        
    </div>
    <div id="collapse3" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4">Wie erfasse ich einen neuen Benutzer?</a>
        <a class="pull-right" data-toggle="collapse" data-target="#collapse4">
            <span class="glyphicon glyphicon-collapse-down"></span>
        </a>   
    </div>
    <div id="collapse4" class="panel-collapse collapse" role="tabpanel">
        <div class="panel-body">    
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </div>
    </div>
</div>
