@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Mike Barmettler<br />
    Rischstr. 7<br />
    6030 Ebikon <br/>
    <abbr title="Phone">P:</abbr>
    +41 79 450 47 27<br/>
    <abbr title="Mail">E:</abbr>
    <a href="mailto:greenlion1010@gmail.com">greenlion1010@gmail.com</a>
</address>
