@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>WhoLends - WL</h1>
    @*<p class="lead"></p>*@
    <p>
        @Html.ActionLink("zur Übersicht »", "../Lends/Index", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Einführung</h2>
        <p>
            WhoLends (kurz WL) bietet die Möglichkeit Ausleihgegenstände zu verwalten und langfristig zu beobachten.
        </p>
        <p><a class="btn btn-default" href="#">weiterlesen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Verwaltung</h2>
        <p>
            Einfache und übersichtliche Verwaltung und Überwachung von Inventar Gegenständen.
        </p>
        <br/>
        <p><a class="btn btn-default" href="#">weiterlesen &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><span class="label label-warning">BETA</span> Benachrichtigung</h2>
        <p>
            Sofortige Benachrichtigung bei Terminen oder fälligen Rückgaben.
        </p>
        <br />
        <p><a class="btn btn-default" href="#">weiterlesen &raquo;</a></p>
    </div>
</div>