@using WhoLends.ViewModels;

@model LendItemViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Löschen</h2>

<h3>Bist du sicher dass du diesen Gegenstand löschen möchtest?</h3>
<div>
    <h4>Gegenstand #@Model.Id</h4>
    <hr />
    <!--partial view-->
    @Html.Partial("~/Views/LendItems/_LendItemDetail.cshtml", Model)
    <!---->
    <br/>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "LendItems")" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                Zurück
            </a>    
            <input type="submit" value="Löschen" class="btn btn-danger" />
            
        </div>
    }
</div>
