
@using WhoLends.ViewModels;
@using MvcJqGrid

@model LendItemViewModel

@{
    ViewBag.Title = "LendItems";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ausleihgegenstände</h2>

<p>
    @Html.ActionLink("Erstellen", "Create")
</p>


@* jquery grid demo http://www.ok-soft-gmbh.com/jqGrid/Lince81.htm *@

<div>
    @(Html.Grid("LendItemsList")
    .AddColumn(new Column("Id")
        .SetWidth(40))
    .AddColumn(new Column("interne ID"))
    .AddColumn(new Column("Name"))
    .AddColumn(new Column("Beschreibung"))
    .AddColumn(new Column("Erstellt am")
         .SetWidth(80))
    .AddColumn(new Column("Erstellt von")
        .SetWidth(80))
    //.SetUrl(Url.Action("List", "LendItem"))
    .SetUrl("/LendItems/List")
    .SetAutoWidth(true)
    .SetRowNum(10)
    .SetRowList(new int[] { 10, 15, 20, 50 })
    .SetViewRecords(true)
    .SetPager("pager"))
</div>
